body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  display: flex;
  font-family: 'Source Sans Pro', sans-serif;
}

#sidebar {
  position: fixed;
  width: 200px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.data-label {
  margin: 0;
  font-size: 12px;
  font-weight: bold;
  color: #333;
}

.project-data-item {
  margin: 5px 0;
  padding: 0 10px;
  font-size: 14px;
  word-break: break-all;
}

.btn {
  font-family: inherit;
  width: 75%;
  margin: 10px 0;
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 2px 2px 2px #ccc;
  transition: all .2s ease-in;
  font-size: 15px;
  justify-self: end;
  user-select: none;
  position: relative;
}

.btn::after {
  position: absolute;
  top: -20%;
  left: 0;
  font-size: 10px;
}

.btn:hover {
  cursor: pointer;
  box-shadow: 2px 2px 2px #999;
}

.btn:active {
  cursor: pointer;
  box-shadow: 2px 2px 2px #ddd;
}

.btn.user-action {
  background: rgb(227, 201, 84)
}

.btn.user-action:hover {
  background: rgba(245, 225, 135)
}

.btn.user-action::after {
  content: "F1";
}

.btn.system-action {
  background: rgb(84, 196, 227)
}

.btn.system-action:hover {
  background: rgba(94, 220, 255)
}

.btn.system-action::after {
  content: "F2";
}

.btn.decision {
  background: rgb(84, 227, 105)
}

.btn.decision:hover {
  background: rgba(97, 255, 120)
}

.btn.decision::after {
  content: "F3";
  top: -30%;
}

.btn.edit {
  background: rgb(227, 84, 227)
}

.btn.edit:hover {
  background: rgba(250, 120, 255)
}

.btn.edit::after {
  content: "Ctrl+e";
  top: -30%;
}

.btn.delete {
  background: rgb(227, 84, 84);
  color: white;
}

.btn.delete:hover {
  background: rgba(255, 120, 120)
}

.btn.delete::after {
  content: "delete";
  top: -30%;
  color: black;
}

.btn.open-project::after {
  content: "Ctrl+o";
  top: -30%;
}

.btn.new-project::after {
  content: "Ctrl+n";
  top: -30%;
}

.btn.save-project::after {
  content: "Ctrl+s";
  top: -30%;
}

.btn.save-project-as::after {
  content: "Ctrl+Shift+s";
  top: -30%;
}

.separator {
  margin: 10px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.25);
  width: 80%;
}

#flow-canvas {
  border-left: 1px solid rgba(0, 0, 0, 0.25);
}